<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <header class="header-container">
        <h1>Store your information</h1>
    </header>
    <div class="body-container">
        <div class="body-button-container">
            <div class="body-button-btn" id="body_button"></div>
            <button class="body-button" id="body_button_fill" onclick="fill()">Fill in</button>
            <button class="body-button sec-btn" id="body-button_info" onclick="info()">Info</button>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>